<html>
	<head>
		<title>Parallax Mountain Scene</title>
    <link rel='stylesheet' type='text/css' href='styles/styles.css'>
		<script src="vendor/three.js"></script>
		<script src="vendor/jquery-2.1.1.min.js"></script>
		<script src="vendor/angular.js"></script>
		<script src="dist/mountain-scene.js"></script>
	</head>
	<body ng-app='mountain-scene'>
    <ul class='controls'>
      <li>
        <input ng-model='scene.roughness' type='range' min='0.0' max='1.0' step='0.01'> Roughness
      </li>
      <li>
        <input ng-model='scene.initialDisplacement' type='range' min='0' max='100' step='1'> Initial displacement
      </li>
      <li>
        <input ng-model='scene.cameraZ' type='range' min='0' max='1000' step='1'> Camera z coordinate
      </li>
      <li>
        <button ng-click='scene.regenerate()'>Regenerate</button>
      </li>
    </ul>
	</body>
</html>
