<html>
	<head>
		<title>Parallax Mountain Scene</title>
    <link rel='stylesheet' type='text/css' href='styles/styles.css'>
		<script src="vendor/three.js"></script>
		<script src="vendor/jquery-2.1.1.min.js"></script>
		<script src="vendor/angular.js"></script>
		<script src="dist/mountain-scene.js"></script>
	</head>
	<body ng-app='mountain-scene'>
    <header>
      <ul class='tabs'>
        <li><a ng-class='{active: activeTab == "Mountains"}'
            role='button' ng-click='activeTab = "Mountains"'>Mountains</a></li>
        <li><a ng-class='{active: activeTab == "Camera"}'
            role='button' ng-click='activeTab = "Camera"'>Camera</a></li>
      </ul>
    </header>
    <ul class='controls' ng-show='activeTab=="Mountains"'>
      <li>
        <input ng-model='scene.roughness' type='range' min='0.0' max='1.0' step='0.01'>
        Roughness {{ scene.roughness }}
      </li>
      <li>
        <input ng-model='scene.initialDisplacement' type='range' min='0' max='100' step='1'>
        Initial displacement {{ scene.initialDisplacement }}
      </li>
      <li>
        <input ng-model='scene.leftHeight' type='range' min='0' max='300' step='0.01'>
        Left height {{ scene.leftHeight }}
      </li>
      <li>
        <input ng-model='scene.rightHeight' type='range' min='0' max='300' step='0.01'>
        Right height {{ scene.rightHeight }}
      </li>
    </ul>
    <ul class='controls' ng-show='activeTab=="Mountains"'>
      <li>
        <input ng-model='scene.roughnessChangeFactor' type='range' min='0.0' max='1.0' step='0.01'>
        Roughness change factor {{ scene.roughnessChangeFactor }}
      </li>
      <li>
        <input ng-model='scene.initialDisplacementChangeFactor' type='range' min='0.0' max='1.0' step='0.01'>
        Initial displacement change factor {{ scene.initialDisplacementChangeFactor }} 
      </li>
    </ul>
    <ul class='controls' ng-show='activeTab=="Camera"'>
      <li>
        <input ng-model='scene.cameraX' type='range' min='0' max='1000' step='1'>
        Camera X coordinate {{ scene.cameraX }}
      </li>
      <li>
        <input ng-model='scene.cameraY' type='range' min='0' max='1000' step='1'>
        Camera Y coordinate {{ scene.cameraY }}
      </li>
      <li>
        <input ng-model='scene.cameraZ' type='range' min='0' max='1000' step='1'>
        Camera Z coordinate {{ scene.cameraZ }}
      </li>
    </ul>
    <div class='buttons'>
      <button ng-click='scene.regenerate()'>Regenerate</button>
    </div>
	</body>
</html>
