
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

ul.controls li {
  list-style-type: none;
}

ul.controls {
  padding: 0;
  margin: 0;
}

.controls input[type='range'] {
  width: 400px;
}
