
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

ul.controls li, ul.tabs li {
  list-style-type: none;
}

ul.controls {
  padding: 0;
  float: left;
  margin: 0;
  margin-right: 20px;
}

ul.tabs {
  padding: 0;
  margin: 0;
}

ul.tabs a.active {
  font-weight: bold;
}

ul.tabs li {
  display: inline;
  cursor: pointer;
}

.controls input[type='range'] {
  width: 400px;
}

.buttons {
  clear: both;
}
